<div>
    <h2>Put your e-mail to change your password</h2>

    <form action="http://localhost:8080/api/mail" method="post">
        <p>Email</p>
        <input type="text" name="email" id="email" placeholder="user@gmail.com">
        <button type="submit" id="btn">Send e-mail</button>
    </form>
    </div>